html, body {
  margin: 0;
  padding: 0;
  height: 83%;
  font-family: Hack, monospace;
}

.bannerHeader {
  padding: 0;
  margin: 0;
  height: 200px;
}

.bodyWrapper {
  min-height: 85%;
}

.postTypeBtnList {
  padding-bottom: 1%;
}

footer {
  padding-bottom: 2%;
}

.banner-line-number {
  display: inline;
  background-color: #262626;
  color: #9fafaf;
}

.banner-title {
  display: inline;
}

.zenburn-text {
  background-color: #3f3f3f;
  color: #dcdccc;
}

.bannerHeader > h4 {
  display: inline;
  margin: 0;
}

nav .brand-logo {
  padding-left: 1%;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.rounded-borders {
  border-radius: 5px;
}

.green-primary {
  background-color: #507F62;
  color: #507F62;
}

.green-primary-dark {
  background-color: #1F5433;
  color: #1F5433;
}

@keyframes cursor {
  from,to { background-color: transparent;}
  50% {background-color: #dcdccc;;}
}

@-webkit-keyframes cursor {
  from,to { background-color: transparent;}
  50% {background-color: #dcdccc;}
}

.cursor {
  -webkit-animation-name: cursor;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: steps(1);
  -webkit-animation-iteration-count: infinite;
  animation-name: cursor;
  animation-timing-function: steps(1);
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
