{{ partial "header.html" . }}
  <section class="container" id="list">
      {{ $paginator := .Paginate (.Data.Pages.ByDate.Reverse) 10 }}
      {{ range $paginator.Pages }}
        <div class="post-list-item-container">
          <div class="center-align">
            <span><a href="{{ .RelPermalink }}">{{ .Title }}</a></span>
            <div class="left-align">
              {{ .Description | markdownify }}
            </div>
          </div>
        </div>
      {{ end }}

      {{ partial "list/paginator.html" (dict "paginator" $paginator "currentPageNumber" .Paginator.PageNumber) }}
  </section>
{{ partial "footer.html" . }}
