<header>
  <div class="zenburn-text bannerHeader valign-wrapper">
    <div class="hide-on-large-only menu-item">
      <a class="sidebar-button" href="#!" data-beloworigin="true" data-activates="slide-out"><i class="material-icons white-icon">list</i></a>
    </div>
    <div class="center-block valign">
      <h4 class="banner-title">{{ .Site.Params.bannerText }}<span class="cursor">&nbsp;</span></h4>
    </div>
  </div>

  <div>
    <ul id="slide-out" class="side-nav sidenav fixed">
      <li>
        <a href="{{ .Site.BaseURL }}">{{ .Site.Params.title }}</a>
      </li>

      {{ with .Site.Params }}
        {{ range .navbar }}
          {{ if isset . "tooltip" }}
            <li data-position="right" data-delay="50" data-tooltip="{{ .tooltip }}"><a href="{{ .link }}"><i class="material-icons fa {{ .icon }}"></i>{{ .text }}</a></li>
          {{ else }}
            <li><a href="{{ .link }}"><i class="material-icons fa {{ .icon }}"></i>{{ .text }}</a></li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
</header>
