
    </div>
    <footer class="container center-align">
        <hr/>
        {{ partial "footerMessage.html" . }}
    </footer>

    <script type="text/javascript" src="{{ .Site.Params.jquery.js | default .Site.Data.default.jquery.js }}"></script>
    <script src="{{ .Site.Params.materialize.js | default .Site.Data.default.materialize.js }}"></script>
    <script src="{{ .Site.Params.fontawesome.js | default .Site.Data.default.fontawesome.js }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
          $('.dropdown-button').dropdown()
        })
    </script>
  </body>
</html>
