<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="{{ .Site.Params.materialize.css | default .Site.Data.default.materialize.css }}">
    <link rel="stylesheet" href="{{ .Site.Params.materialicons.css | default .Site.Data.default.materialicons.css }}">
    <link rel="stylesheet" href="{{ .Site.Params.font.css | default .Site.Data.default.font.css }}">
    <link rel="stylesheet" href="/css/codemonkey.css">
  </head>

  <body>
    {{ partial "banner.html" . }}
    <main>
      <div class="bodyWrapper">
